.dashboard-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 0.5rem;
  height: 100%;
  overflow: hidden;
}

.visualization-container {
  height: 100%;
  overflow-y: hidden;

  .visualization {
    height: calc(100% - 45px);
    padding: 8px 4px;
    overflow-y: auto;
  }
}
