.dashboard-header {
  display: flex;
  justify-content: space-between;

  > section:first-child {
    display: flex;
    align-items: center;
    gap: 8px;

    > h5 {
      font-weight: 400;
      color: #77818c;
    }
  }

  > section:last-child {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
